body {
    background-color: aqua;
    width: 600px;
    margin: 0 auto;
    background-color: aqua;
    padding: 0 890px 10px 1px;
}   
.my.image {
    width: 100px;
    height: auto;
    top: 1000px;
    left: 1px;
}
.main-text {
    text-align: center;
    font-style: oblique;
    font-size: larger;
}
.info-text {
    text-align: left;
}
.right-text {
    position: relative;
    text-align: left;
    top: -103px;
    left: 100px;
    color: black;
}
.number-text {
    position: relative;
    text-align: left;
    top: -103px;
    left: 150px;
    color: black;
}
.skill-text {
    text-align: center;
    top: -60px;
    left: 150px;
    font-size: 50px;
}
.skill1-text {
    font-size: 20px
}
.skill2-text {
    font-size: 20px;
    top: -60px;
    left: 1500px;
}
.switch-language {
    top: -60px;
    left: 1500px;
}

