<!DOCTYPE html>
{% load static %}
<head>
  <link rel="stylesheet" href="{% static "firstapp\css\style2.css" %}" />
  <meta charset="utf-8">
  <title>Business CV</title>
</head>
<body>


    <div class="main-text">
        <h1>CV</h1>
    </div>

    <div>
        <img src="{% static "images\!!!.png" %}" width="250" height="250" alt="Alternate Text" />
        <div class="mainInfo">
            <h3>Podyryako Anatoliy</h3>
            <h>Programmer</h>
            <h3>Basic data:</h3>
            <span>Date of birth: 01.06.2002 </span><br />
            <span> Country: Ukraine </span><br />
            <span>City: Cherkasy</span><br />
            <span> Street: Chekhova, №42</span><br /><br />
        </div>
    </div>
    <div class="btn">
        <button><a href="CV_ru.html"> RU </a></button>
    </div>

    <div class="phone-info">
        <h3>Contact Information:</h3><hr />
        <span>Phone:  +380-97-793-2530</span><br />
        <span>E`mail: podyryakoanatoliy@gmail.com</span><br />
    </div>

    <div class="expirience">
        <h3>Work experience:</h3><hr />
        <span>Not present at the moment</span>
    </div>
    <div class="education">
        <h3>Education: </h3><hr />
        <ul>
            <li>2019 - received "Secondary general education"</li>
            <li>2019-2023 - "Cherkasy State Technological University"</li>
        </ul>
    </div>
    <div class="skill">
        <h3>Skill: </h3><hr />
        <ul>
            <li>C#</li>
            <li>C++</li>
            <li>Java</li>
            <li>HTML5\CSS2</li>
        </ul>
    </div>

    <div class="language">
        <h3>Language: </h3><hr />
        <ul>
            <li>Ukrainian - fluent</li>
            <li>Russian - fluent</li>
            <li>English - intermediate</li>
            <li>French - bad</li>
        </ul>
    </div>


</body>
</html>