<!DOCTYPE html>
<html lang="">
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<title>Резюме</title>
</head>
<body>
	<div class="my.image">
		<img src="photo_2020-09-25_00-02-31.jpg" width="200" height="250">
	</div>
	<div class="main-text">
		<h1>Моё резюме</h1>
	</div>
	<div class="info-text">
		<p>Имя: </p>
		<p>Профессия: </p>
		<p>Номер телефона: </p>
	</div>
	<div class="right-text">
		<p>Подиряко Анатолий<p>
		<p>Футболист, программист</p>
	</div>
	<div class="number-text">
		<p>+380977932530</p>
	</div>

	<div class="skill-text">
		<p>Скилы: </p>
	</div>

	<div class="skill1-text">
		<h1>Программирование: </h1>
        <p>Всего по немножку, но продолжаю учиться😍😍😍</p>
	</div>


	<div class="skill2-text">
		<h1>Футбольные: </h1>
        <p>Делаю всё то, что не умеет ни один лучший футболист современности🤣🤣🤣⚽⚽⚽</p>
	</div>

		<div class="switch-language">
			<button class="btn"><a href="index_ru.html"> RU </a></button>
			<button class="btn"><a href="index_eng.html"> EN </a></button>
		</div>
</body>
</html>
