<!DOCTYPE html>
{% load static %}

<head>
  <link rel="stylesheet" href="{% static "firstapp/css/styles.css" %}" />
  <meta charset="utf-8">
  <title>Main page</title>
</head>

<body>
  <div class="mainTitle"> Main page </div>
  <div class="buttons">
    <div class="change-page">
      <button class="btn"><a href="business"> Business CV </a></button>
    </div>
    <div class="change-page">
      <button class="btn"><a href="business_ua"> Business ua CV </a></button>
    </div>
    <div class="change-page">
      <button class="btn"><a href="creative"> Creative CV </a></button>
    </div>
    <div class="change-page">
      <button class="btn"><a href="creative_ua"> Creative ua CV </a></button>
    </div>
  </div>
</body>